@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 

  
  .animate-scroll::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 100%; /* Match the width of the entire content to create a loop effect */
  }
  
.animate-slide-in {
    animation: slideIn 1s ease-in-out forwards;
}

.animate-fade-in {
    animation: fadeIn 1.5s ease-in-out 0.5s forwards;
}

@keyframes slideInWithShadow {
    0% {
        transform: translateY(50px);
        opacity: 0;
        box-shadow: none;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        
    }
}

.animate-slide-in-with-shadow {
    animation: slideInWithShadow 1s ease-in-out forwards;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    display: flex;
    width: calc(200%); 
    animation: scroll 30s linear infinite;
  }
 